<!DOCTYPE html>
<html lang="en" class="bg-orange-200">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Simple todo app" />
    <title>Simple todo app</title>
    <link rel="icon" type="image/png" href="/static/favicon.svg" />
    <script defer src="/static/htmx.js"></script>
    <script defer src="/static/htmx.multiswap.js"></script>
    <link rel="stylesheet" href="/static/main.css" />
    {% block head %}{% endblock %}
  </head>
  <body
    class="font-mono bg-orange-800/80 text-orange-50 container mx-auto flex flex-col transition-all hover:transition-all min-h-screen sm:border-x border-orange-950 shadow-md relative"
  >
    <header
      class="sticky top-0 bg-orange-950/50 backdrop-blur-md border-b border-orange-950 p-3 pb-2 md:p-6 md:pb-4 flex justify-between gap-4 flex-wrap z-10 shadow-md"
    >
      <div>
        <h1 class="text-3xl font-semibold">Simple Todo List</h1>
        <p>
          Made using
          <a href="https://htmx.org/">htmx</a>
          + <a href="https://github.com/tokio-rs/axum">Axum</a> +
          <a href="https://tailwindcss.com/">Tailwind CSS</a> +
          <a href="https://github.com/djc/askama">Askama</a>
        </p>
      </div>
    </header>
    <main class="p-3 md:p-6 flex-1 flex flex-col gap-4" hx-ext="multi-swap">
      {% block content %}{% endblock %}
    </main>
    <footer
      class="text-center self-center p-4 bg-orange-950/50 border-t w-full border-orange-950 shadow-md"
    >
      Made with &lt;3 from Canada -
      <a href="https://github.com/BenJeau">GitHub - @BenJeau</a>
    </footer>
  </body>
</html>
