{% extends "base.html" %} {% block content %} {% if !trust_user_input %}
<div
  class="border p-2 text-sm border-yellow-500 flex gap-2 items-center bg-yellow-500/50 text-yellow-50"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="1.5"
    viewBox="0 0 24 24"
    class="min-h-8 min-w-8 h-8 w-8"
  >
    <circle cx="12" cy="12" r="10" />
    <path d="M12 16v-4M12 8h.01" />
  </svg>
  Since the server is configured to not trust user input, when creating a new
  todo, the server will create a new todo with a random description.
</div>
{% endif %}
<form id="add-form">
  <label for="description" class="text-sm font-semibold">Description</label>
  <div class="flex flex-1 shadow-md rounded-md">
    <input
      placeholder="e.g. Buy milk"
      required
      type="text"
      name="description"
      class="text-black px-4 py-1 text-sm rounded-s-md flex-1 bg-white/50 outline-none focus-visible:outline-white border border-e-0 border-orange-900 placeholder:text-black/50"
    />
    <button
      hx-post="/todos"
      hx-trigger="click"
      hx-swap="multi:#todos:beforeend,#todos-empty:delete"
      class="flex gap-2 items-center text-sm outline-none font-semibold hover:bg-orange-500 text-orange-100 px-4 rounded-e-md border hover:text-orange-900 border-orange-900 bg-orange-700 focus-visible:outline-orange-500 transition-colors"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        stroke-width="3.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        viewBox="0 0 24 24"
        class="h-4 w-4"
      >
        <path d="M5 12h14M12 5v14" />
      </svg>
      Add
    </button>
  </div>
</form>
<hr class="border-orange-950/50" />
<div class="flex gap-4 flex-1 md:flex-row flex-col-reverse">
  <div
    class="flex-1"
    id="list"
    hx-get="/todos"
    hx-target="this"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>
  <div class="border-b md:border-l border-orange-950/50"></div>
  <div>
    <div class="flex flex-col gap-2 md:gap-4 md:sticky md:top-28 font-semibold">
      <h2 class="hidden md:block text-lg">Actions</h2>
      <div class="flex md:flex-col gap-2 md:flex-initial flex-wrap">
        <button
          class="action"
          hx-put="/todos/done"
          hx-trigger="click"
          hx-target="#todos"
          hx-swap="outerHTML"
        >
          Mark all as completed
        </button>
        <button
          class="action"
          hx-put="/todos/undone"
          hx-trigger="click"
          hx-target="#todos"
          hx-swap="outerHTML"
        >
          Mark all as undone
        </button>
      </div>
      <hr class="hidden md:block border-orange-950/50" />
      <div class="flex md:flex-col gap-2 md:flex-initial flex-wrap">
        <button
          class="danger-action"
          hx-delete="/todos/done"
          hx-trigger="click"
          hx-target="#todos"
          hx-swap="outerHTML"
        >
          Delete completed
        </button>
        <button
          class="danger-action"
          hx-delete="/todos"
          hx-trigger="click"
          hx-target="#todos"
          hx-swap="outerHTML"
        >
          Delete all
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
